/* 
modrá: #407BFF
šedá: #8B8B8B 
*/

html {
    box-sizing:border-box;
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

h2 {    
    font-size: 16px;
    margin-bottom: 15px;
    }

p {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.service p {
    font-size: 13px;
    text-align: left;
    margin: 30px 20px 20px 0;
}

.section {
    margin: 60px auto;
    padding: 0 20px;
}

.traveler {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.traveler img {
    width: 350px;
}

hr {
    width: 60px;
    background-color:#407BFF;
    border: 0px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button {
    margin: 10px;
    display: flex;
    justify-content: center;
    }

.button a {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    background-color: #407BFF;
    text-decoration: none;
    padding: 10px 30px;
}

.wellbeing a {
    background-color: #8B8B8B;
}

.service {
    display: flex;
    background-color:#FFFFFF;
    border-radius: 10px;
    box-shadow: #407BFF1F 0px 4px 6px;
    margin: 15px auto;
    align-items:center;
}

.service img {
    min-width: 95px;
    height: 40px;
    margin: 20px 0;
    }

/* .service p {
    margin: 30px 20px 20px 30px;
} */

@media screen and (min-width: 640px){

    .description p {
        padding: 0 90px;
    }

    .traveler img {
        width: 400px;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
    }

    .agency-services-list, 
    .delegates-services-list {
        display: flex;
        justify-content: space-between; 
    }

    .service {
        flex-direction: column;
        max-width: calc((100% - 40px ) / 3);
        margin: 15px 0;
        
    }

    .service img {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .service p {
        margin: 20px 15px;
        text-align: center;
    }
}

@media screen and (min-width: 1100px) {
    
    .section {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0;
    }

    .about {
        display: flex;
        justify-content: space-between;
    }

    .about-company {
        width: calc((100% - 60px) / 2);
    }

    .traveler {
        order: 1;
        margin: 0 0;
        width: calc((100% - 60px) / 2);
    }

    .traveler img {
        width: 425px;
    }

    .travels h1 {
        margin-top: 50px;
    }

    .description h1, h2 {
        text-align: left;
        padding-left: 0;
    }

    .description h2 {
        margin-top: 40px;
    }

    .description p {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    hr {
        text-align: left;
        margin-left: 0;
    }

    .buttons {
        justify-content: left;
    }

    .adventure {
        margin-left: 0;
    }

    .agency {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
    }

    .delegates{
        display:flex;
    }

    .agency-services-list,
    .delegates-services-list {
        max-width: 550px;
    }
    
    .agency-services {
        order: 1;
        max-width: 430px;
        margin-left: 60px;
    }

    .delegates-services {
        max-width: 430px;
        margin-right: 60px;
    }
}